---
import { Image } from "astro:assets";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import youtube from "../../assets/youtube.svg";

---

<Section id="services" class="bg-zinc-100">
  <div class="mb-5">
    <SectionTitle sectionTitle="ماهي خدمة وقاية؟" />

    <p class="text-xl">
      تعتمد خدمة «وقاية» على نظام أسماء النطاقات (DNS) للمساعدة في تقليل الوصول
      إلى المواقع غير المناسبة للعائلة. فعند محاولة الدخول إلى موقع ما، تتحقق
      الخدمة مما إذا كان مصنّفًا ضمن المحتوى غير الملائم، وتحاول حظره إن وُجد
      ضمن القائمة. بهذه الطريقة، تُسهم «وقاية» في جعل تجربة التصفّح أكثر نقاءً
      واتساقًا مع قيم الأسرة السعودية، دون التأثير على الاستخدام الطبيعي
      للإنترنت.
    </p>

    <div class="grid lg:grid-cols-3">
      <div class="grid gap-2">
        <div class="size-24"><picture>
                  <Image src={youtube} alt="Youtube" />
                </picture></div>
        <h2 class="text-2xl font-medium">الوضع المقيد في اليوتيوب</h2>
        <span
          >تعمل خدمة وقاية على فرض الوضع المقيّد في منصة اليوتيوب بشكل تلقائي،
          مما يساعد في ترشيح المحتوى غير المناسب ويوفّر تجربة مشاهدة آمنة لجميع
          أفراد الأسرة.</span
        >
      </div>
      <div class="grid gap-2">
        <div>icon</div>
        <h2 class="text-2xl font-medium">ترشيح الخدمات ذات المحتوى المختلط</h2>
        <span
          >تقوم وقاية بترشيح الخدمات التي تحتوي على محتوى مختلط أو غير ملائم،
          مما يساهم في توفير بيئة تصفّح أكثر أمانًا واتساقًا مع القيم الأسرية.</span
        >
      </div>
      <div class="grid gap-2">
        <div>icon</div>
        <h2 class="text-2xl font-medium">ترشيح أدوات تجاوز الحجب (VPN وProxy)</h2>
        <span
          >تمنع خدمة استخدام أدوات تجاوز الحجب مثل الشبكات الافتراضية (VPN) والبروكسي، مما يضمن بقاء نظام الحماية العائلية فعّالًا وعدم التحايل عليه من خلال وسائل خارجية.</span
        >
      </div>

      <div class="grid gap-2">
        <div>icon</div>
        <h2 class="text-2xl font-medium">مجاني ومتاح للجميع</h2>
        <span
          >نهدف الخدمة إلى تمكين استخدام الإنترنت بشكل آمن وسهل للجميع.</span
        >
      </div>
    </div>
  </div>
</Section>
