---
import SectionTitle from "../ui/SectionTitle.astro";
import ConfigurationCard from "../ui/ConfigurationCard.astro";

import Section from "./Section.astro";
import CopyButton from "../ui/Copy.astro";

const description =
  "اختر الطريقة المناسبة لبدء استخدام خدمة «وقاية» لتصفّحٍ آمن ومناسبٍ لجميع أفراد الأسرة.";
---

<Section id="services">
  <div class="mb-5">
    <SectionTitle sectionTitle="نقاط الوصول للخدمة" description={description} />

    <div class="grid gap-10">
      <div class="grid lg:grid-cols-2 lg:grid-rows-2 gap-4" dir="ltr">
        <ConfigurationCard title="IPv4">
          <CopyButton text="34.1.48.46" /><CopyButton text="34.1.48.143" />
        </ConfigurationCard>
        <ConfigurationCard title="IPv6">
          <CopyButton text="2600:1900:5400:545:8000:1::" /><CopyButton text="2600:1900:5400:545:8000:2::" />
        </ConfigurationCard>
        <ConfigurationCard title="DoH">
          <CopyButton text="34.1.48.46:443" /><CopyButton text="dns.sais.org.sa" />
        </ConfigurationCard>
        <ConfigurationCard title="DoT">
          <CopyButton text="34.1.48.46:853" /><CopyButton text="dns.sais.org.sa" />
        </ConfigurationCard>
      </div>
      <div class="text-center pt-10">
        <a
        href="#docs"
          class="btn-primary w-72 text-xl font-medium">تفعيل الخدمة</a
        >
      </div>
    </div>
  </div>
</Section>
