---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "يمكنك إعداد الخدمة على جهاز الكمبيوتر أو الهاتف المحمول. ويمكن لخدمة وقاية أن تحمي شبكتك المنزلية بالكامل.";
---

<Section id="process" class="bg-zinc-100">
  <div class="">
    <SectionTitle
      sectionTitle="كيفية تفعيل الخدمة"
      description={description}
    />
    <div class="grid gap-4">
      <div class="flex gap-2">
        <div class="text-xl font-bold w-52">الجهاز المكتبي</div>
        <div class="grid lg:grid-cols-3 lg:grid-rows-1 gap-4">
          <a href="#">Windows</a>
          <a href="#">Mac OS</a>
          <a href="#">Linux</a>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="text-xl font-bold w-52">الجوال</div>
        <div class="grid lg:grid-cols-3 lg:grid-rows-1 gap-4">
          <a href="#">Android</a>
          <a href="#">IOS</a>
        </div>
      </div>
      <div class="flex gap-2">
        <div class="text-xl font-bold w-52">المودم المنزلي</div>
        <div class="grid lg:grid-cols-3 lg:grid-rows-1 gap-4">
          <a href="#">Windows</a>
          <a href="#">Mac OS</a>
          <a href="#">Linux</a>
        </div>
      </div>
    </div>
  </div>
</Section>